.idea/
.vscode/
.agent/

node_modules/
dist/
target/

uploads/

*.log
*.txt
*.iml

CeuimDataScreen/.git
CeuimDataScreen/.idea/
CeuimDataScreen/.vscode/
CeuimDataScreen/dist/
CeuimDataScreen/node_modules/

CeuimDataScreenSpringboot/.idea/
CeuimDataScreenSpringboot/target/

.DS_Store
Thumbs.db
